/* Estilos generales */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black; /* Fondo negro */
}

/* Contenedor para el video y la imagen */
#contenedorPrincipal {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Estilos para el video */
#videoPrincipal {
    width: 95vw; /* Ancho del video al 95% del ancho de la ventana */
    height: 90vh; /* Altura del video al 95% de la altura de la ventana */
    object-fit: cover; /* Asegura que el video cubra el espacio asignado */
}

/* Estilos para la imagen/botón */
#imagenBoton {
    max-width: 70%; /* Asegura que la imagen no sea más grande que su contenedor */
    cursor: pointer;
}

/* Estilo para el enlace que contiene la imagen */
#linkImagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para el botón de omitir */
#botonOmitir {
    font-size: 20px; /* Tamaño de la fuente más grande */
    padding: 10px 20px; /* Espaciado interno para hacer el botón más grande */
    border-radius: 5px; /* Bordes redondeados */
    color: white; /* Color del texto */
    background-color: red; /* Color de fondo */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor tipo puntero */
    position: absolute; /* Posición absoluta */
    top: 10px; /* Posición desde la parte superior de la pantalla */
    right: 10px; /* Posición desde la derecha de la pantalla */
}
